body {
	/*background-image: url('images/henry-lo-90400.jpg');*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
	font-family: sans-serif;
	/*background-color: rgba(0, 26, 51, 1);*/
	/*color: white;*/
	background-color: white;
	color: black;
	text-align: center;
}

container {
	position: absolute;
	top: 10%;
	left: 15%;
	right: 15%;
	width: 70%;
}

article {
	/*border: solid red;*/
	text-align: justify;
	padding: 2em;
}

footer {
	color: white;
	background: navy;
	position: absolute;
	bottom: 0;
	width: 100%;
	border-radius: 0 0 10px 10px;

}

a, a:hover, a:focus {
    text-decoration: none;
}

/*.img-circle {
	border-radius: 50%;
}*/