body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
}

h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  /*background-color: rgba(255,255,255,0.5);*/
  /*border-radius: 1em;*/
  margin: 25px;
  padding: 1em;
  height: 100%;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color: #01579B;
}

a:link {
    /*color: red;*/
    text-decoration: none;
    color: white;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

.carousel-item {
  background-image: url('http://placehold.it/1900x1080');
}